<!DOCTYPE html>
<html>
<head>
  <title>Harvester</title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.viewportchecker.min' %>
  <link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container-fluid title-background'>
  <div class='col-xs-10 col-xs-offset-1 title-background-inner'>
    <div class='app-title'>
      <h1>< harvester ></h1>
      <p class='text-center'>scrape me and my friends</p>
    </div>
  </div>
  </div>
  <%= yield %>

  <div id="footer">
  <div class="container">
  
      <div class="col-xs-12 col-sm-6 text-center brand">
        Created by Christopher Ross
        <br><br>
        <%= link_to 'http://www.crossphd.com', :target => "_blank" do %>
          <%= image_tag 'crossphd.jpg', class: 'social-button' %>
        <% end %>
        <%= mail_to "chris@crossphd.com" do %>
          <span>chris@crossphd.com</span>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 text-center brand">
        Social
        <br><br>
        <%= link_to 'https://twitter.com/crossphd', :target => "_blank" do %>
          <%= image_tag 'twitter2.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'https://github.com/CRossPhD', :target => "_blank" do %>
          <%= image_tag 'github2.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'https://medium.com/@crossphd', :target => "_blank" do %>
          <%= image_tag 'medium2.png', class: 'social-button' %>
        <% end %>
      </div>

  </div>
  <br>
  <p class="disclaimer">disclaimer: data on this page is scraped from above named websites, and thus owned by each site respectively</p>

      
  </div>

</body>
</html>
